<?xml version="1.0" encoding="utf-8" ?>
<configuration>
   
    <system.serviceModel>
        <services>
          <service behaviorConfiguration="SCADACL.ServiceBehavior" name="ScadaService.Scada">
            <endpoint address="" binding="netTcpBinding" bindingConfiguration="netTcpBindingNoSecurity" contract="ScadaContracts.IScadaContract">
              <identity>
                <dns value="localhost"/>
              </identity>
            </endpoint>
            <host>
              <baseAddresses>
                <add baseAddress="net.tcp://localhost:31000/SCADA"/>
              </baseAddresses>
            </host>
          </service>
        </services>
        <bindings>
          <netTcpBinding>
            <binding name="netTcpBindingNoSecurity" closeTimeout="00:30:00" openTimeout="00:30:00" sendTimeout="00:10:00" receiveTimeout="00:10:00" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647">
              <readerQuotas maxStringContentLength="2147483647" maxArrayLength="2147483647"/>
              <security mode="None">
                <transport clientCredentialType="None" protectionLevel="None"/>
              </security>
            </binding>
          </netTcpBinding>
        </bindings>
        <behaviors>
          <serviceBehaviors>
            <behavior name="SCADACL.ServiceBehavior">
              <serviceMetadata httpGetEnabled="false"/>
              <serviceThrottling maxConcurrentCalls="1000" maxConcurrentSessions="1000" maxConcurrentInstances="1000"/>
              <serviceDebug includeExceptionDetailInFaults="true"/>
            </behavior>
          </serviceBehaviors>
        </behaviors>
      </system.serviceModel>

    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>

</configuration>